.App {
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.showcase-container {
  display: flex;
  flex-direction: row;
  /* border: 1px solid black; */
  margin: 40px auto;
}

.showcase-bio {
  padding: 36px 36px 36px 0;
  width: 30%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: right;
  border-left: 1px solid grey;
}

.showcase-bio-pic {
  /* border-radius: 50%; */
  width: 100%;
}

.showcase-carousel {
  width: 70%;
}

.showcase-carousel.showcase-no-artist {
  width: 100%;
}

.showcase-img-container {
  padding: 8px;
}

.showcase-img-container div {
  /* text-decoration: none; */
  color: #000;
}

.showcase-img {
  height: 250px;
}

.showcase-img-name {
  margin-top: 10px;
  font-style: italic;
  font-weight: 600;
  font-size: 14px;
}

.art-page-hero, .artist-page-hero {
  padding: 20px 0;
}

.art-page-title, .artist-page-title, .transaction-logistics {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.art-page-title .btn {
  width: 300px;
  margin: 0 auto;
}

.art-page-showcase, .artist-page-showcase {
  width: 80%;
  margin: 0 auto;
}

.artist-page-name {
  color: #6c63ff;
  font-size: 63px;
}

.artist-container {
  width: 80%;
  margin: 0 auto;
}

.transaction-container {
  padding: 100px;
}

.transaction-modal-container {
  padding: 30px;
}

.transaction-logistics {
  padding: 20px;
}

.transaction-logistics .form-row {
  margin-bottom: 30px;
}

.transaction-logistics-label p, .transaction-logistics-label a {
  font-size: 36px;
  color: #6c63ff;
}

.transaction-art {
  border-left: 1px solid grey;
  padding: 20px;
  text-align: left;
}

.transaction-art-name, .transaction-art-price {
  display: inline-block;
}

.transaction-art-price {
  text-align: right;
}

.transaction-art-img {
  width: 100%;
  /* margin: 0 auto; */
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
